.background {
    background-color: #fbe3e5ff;
    padding: 0.5% 3% 1.5% 3%;
    margin: 1%;
    display: flex;
    flex-direction: column;
}

.background-2 {
    background-color: #fbe3e5ff;
    padding: 0.5% 5% 3% 5%;
    margin: 0 2% 2% 2%;
}

.background-2 h1 {
    display: block;
    margin: 0 auto;
    padding: 20px 0 0 0;
    text-align: center;
}

body {
    color: #030a24;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    font-size: 50px;
}

nav {
    position: absolute;
    z-index: 1;

    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: right;
}

button {
    background-color: white;
    color: #030a24;
    text-decoration-color: #bb509b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

button:hover {
    background-color: #dac1f2;
    cursor: pointer;
}

#menu-button {
    margin-top: 2%;
    margin-left: 70%;
    margin-right: 6%;
}

#close-button {
    background-color: white;
    margin-left: 70%;
    margin-right: 6%;
}

#close-button:hover {
    background-color: rgb(244, 201, 201);

}

nav ul {
    background-color: rgb(254, 250, 255);
    list-style-type: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2%;
    margin: 1% 6% 0% 70%;
}

nav ul li {
    margin: 4%;
}

nav ul li a {
    text-decoration: none;
}

.current-page {
    font-weight: bolder;
}

p {
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p strong {
    font-weight: bold;
    color: #4576ba;
}

.pink-emphasis {
    color: #bb509b;
}

.bio {
    font-size: 25px;
}

#home-body {
    flex-basis: 65%;
}

#profile-picture {
    padding: 1% 1%;
    margin-right: 10%;
}

.img-container {
    width: 100%;
    height: auto;
}

.about-page {
    line-height: 2;
}

.about-flex-container {
    display: flex;
    flex-direction: column;
}

.about-text {
    flex-basis: 65%;
    margin-right: 15%;
}

.about-photo {
    flex-basis: 35%;
    padding: 2%;
}

.proj-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj-info {
    flex-basis: 45%;
}

.proj-photo {
    flex-basis: 55%;
    margin: 5% 0% 0% 5%;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 1%;
}

h4 {
    font-size: 22px;
    letter-spacing: 0.5px;
}

h5 {
    font-size: 16px;
}

.background-2 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.exp-body {
    margin: auto auto 4% auto;
}

.exp-body ul {
    line-height: 1.3;
}

#proj-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#proj-body button {
    padding: 1%;
    margin: 1%;
}

ul li {
    font-size: 20px;
}

a {
    color: #3a51a7;
}

a:hover {
    background-color: rgb(233, 205, 244);
    font-weight: bold;
}

footer {
    margin: auto 2%;
    padding: 2%;
    background-color: #f7edd9;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer h3,
p {
    padding: 0% 2%;
}

footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer ul li {
    flex-basis: 50%;
    padding-bottom: 1%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.hidden {
    display: none;
}

/* wider screens */
@media (min-width: 600px) {

    nav {
        margin: auto;
        margin-left: 0%;
        position: relative;
        display: flex;
        background-color: transparent;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
        background-color: transparent;
        padding: 1%;
        margin: 0;
    }

    nav ul li {
        margin: auto;
    }

    #menu-button {
        margin: auto;
    }

    #close-button {
        margin: auto;
    }

    .background {
        display: flex;
        flex-direction: row;
    }

    .about-flex-container {
        flex-direction: row;
    }

    #profile-picture {
        flex-basis: 35%;
        padding: 1% 0;
        margin-left: 5%;
    }
}
